:root {
    --primary-navy-blue: #2E2F42;
    --primary-cloud-grey: #F4F4FD;
    --primary-white: #FFFFFF;
    --primary-blue: #4D5AE5;
    --primary-slate: #434455;
    --secondary-active-ocean: #404BBF;
    --secondary-active-green: #31D0AA;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-white);
    color: var(--primary-slate);
}

p, h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

                                 /* Header */


.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.header .list {
    display: flex;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header .link {
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
}

.header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-blue);
    display: flex;
    align-items: center;
    padding: 0;
    margin-right: 76px;
}

.studio-color {
    color: var(--primary-navy-blue);
}

.link {
    text-decoration: none;
}


.header .list {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-navy-blue);
    list-style: none;
}

.nav .link {
    text-decoration: none;
    color: var(--primary-navy-blue);
    position: relative;
}

.nav .link:hover,
.nav .link:focus {
    color: var(--secondary-active-ocean);
    color: #404bbf;
}

.nav .link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    
/* .header-nav::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

address {
font-style: normal;
}

.header-contacts .list {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-slate);
    list-style: none;
    font-style: normal;
}

.header-contacts .list {
    display: flex;
    max-width: 344px;
    gap: 40px;
    padding: 0;
    margin-left: auto;
}

/* .contacts-link {
    font-style: normal;
} */

.header-contacts .link {
    font-style: normal;
    text-decoration: none;
    color: var(--primary-slate);
}

.header-contacts .link:hover,
.header-contacts .link:focus {
    color: var(--secondary-active-ocean);
}


                                 /* Footer */

.footer {
    background-color: var(--primary-navy-blue);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--primary-blue);
}

.studio-footer {
    color: var(--primary-cloud-grey);
}

.footer .link {
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-text {
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--primary-cloud-grey);
        max-width: 264px;
}

                                /* Index page styles */

/* Index page -  Hero Section*/

.hero-section{
    background-color: var(--primary-navy-blue);
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
    /* width: 100%;
    max-width: auto; */
    /* padding: 188px 472px 292px 472px; */
}

/* .hero-container {
    /* padding: 188px 472px 188px 472px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: auto;
    width: 100%; */
/* } */ 

.hero-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--primary-white);
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.hero-button {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-white);
    background-color: var(--primary-blue);
    cursor: pointer;
    padding: 16px 32px 16px 32px;
    gap: 10px;
    border: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    min-width: 169px;
    /* max-width: 169px;
    height: 56px; */
}

.hero-button:hover,
.hero-button:focus,
.hero-button:active {
    background-color: var(--secondary-active-ocean);
}

/* Index page -  Benefits Section*/

.benefits-section {
    padding-top: 120px;
    padding-bottom: 120px;
    
}

.benefits-section .list {
    list-style: none;
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.benefits-list-item {
    width: calc((100% - 72px) / 4);
}

.benefits-item-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-navy-blue);
    margin-bottom: 8px;
}

.benefits-item-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-slate);
}

/* Index page -  What are we doing Section*/

.doing-section {
    padding-bottom: 120px;
}

.doing-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-navy-blue);
    margin-bottom: 72px;
}

.doing-section .list {
    list-style: none;
    display: flex;
    gap: 24px;
}

.doing-list-item {
    width: calc((100% - 48px) / 3);
}

/* img? */

/* Index page -  Our team Section*/

.team-section {
    background-color: var(--primary-cloud-grey);
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-navy-blue);
    margin-bottom: 72px;
}

.team-section .list {
    list-style: none;
    display: flex;
    gap: 24px;
}

.team-list-item{
    background-color: var(--primary-white);
    width: calc((100% - 72px) / 4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.name-position {
    padding: 32px 16px;
}

/* img? */

.team-item-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--primary-navy-blue);
    margin-bottom: 8px;
}

.team-item-text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em; 
    color: var(--primary-slate);
}

                                /* Portfolio page styles */

/* Portfolio page -  Buttons nav menu*/

.portfolio-page {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-page .filter.list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.portfolio-page .buttons-btn {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--primary-blue);
    background-color: var(--primary-cloud-grey);
    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
}

.portfolio-page .buttons-btn:hover,
.portfolio-page .buttons-btn:active,
.portfolio-page .buttons-btn:focus {
    color: var(--primary-white);
    background-color: var(--secondary-active-ocean);
    border: 1px solid transparent;
}

/* Portfolio page -  Portfolio items*/

.portfolio-page .list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

}

.portfolio-items .list {
    list-style: none;
    text-decoration: none;
}

.portfolio-list-item {
    width: calc((100% - 48px) / 3);
}

.app-namecat {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-item .link {
    text-decoration: none;
}

.portfolio-item-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-navy-blue);
    margin-bottom: 8px;
}

.portfolio-item-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-slate);
}